<style>
  table.qr-code {
    border-width: 0;
    border-style: none;
    border-color: #0000FF;
    border-collapse: collapse;
  }

  table.qr-code td {
    border-width: 0;
    border-style: none;
    border-color: #0000FF;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
    width: 15px;
    height: 15px;
  }

  table.qr-code td.black { background-color: #000; }
  table.qr-code td.white { background-color: #fff; }
</style>

<table class="qr-code">
  <% @qr_code.modules.each_index do |x| %>
    <tr>
      <% @qr_code.modules.each_index do |y| %>
        <%if @qr_code.dark?(x,y) %>
        <td class="black"/>
        <% else %>
        <td class="white" />
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>

<br />
<br />
<%= link_to "New QR Code", new_qrcodes_path %>
