<%= form_for(@affiliate) do |f| %>

  <div>
    <%#= f.label :affiliate, "Affiliate:", for: "affiliate", id: "affiliate-label", :class "" %>
    <%#= f.select :affiliate, options_from_collection_for_select(@affiliates, "id", "name"), {},
      id: "address1", class: "" %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
