<%= form_for(@affiliate) do |f| %>

  <div>
    <%= f.label :name, 'Name:', for: 'affiliate-name', id: 'name-label', class: '' %>
    <%= f.text_field :name, id: 'affiliate-name', class: '' %>
  </div>

  <div>
    <%= f.label :address1, 'Address 1:', for: 'address1', id: 'address1-label', class: '' %>
    <%= f.text_field :address1, id: 'address1', class: '' %>
  </div>
  <div>
    <%= f.label :address2, 'Address 2:', for: 'address2', id: 'address2-label', class: '' %>
    <%= f.text_field :address2, id: 'address2', class: '' %>
  </div>
  <div>
    <%= f.label :city, 'City:', for: 'city', id: 'city-label', class: '' %>
    <%= f.text_field :city, id: 'city', class: '' %>
  </div>
  <div>
    <%= f.label :state, 'State:', for: 'state', id: 'state-label', class: '' %>
    <%= f.text_field :state, id: 'state', class: '' %>
  </div>
  <div>
    <%= f.label :zipcode, 'Zipcode:', for: 'zipcode', id: 'zipcode-label', class: '' %>
    <%= f.text_field :zipcode, id: 'zipcode', class: '' %>
  </div>

  <div class='actions'>
    <%= f.submit %>
  </div>
<% end %>
