<div id="photo">
  <% if affiliate.default_img_path %>
     <img src="<%= affiliate.default_img_path %>">
  <% else %>

  <% end %>
</div>

<div id="info">
  <div id="info-row-1">
    <% if affiliate.is_featured? %>
      <!-- <span id="featured-badge">FEATURED</span> -->
      <img id="featured-badge" src="assets/featured.png"></img>
    <% end %>
    <span id="name"><%= affiliate.name %></span>
  </div>

  <div id="info-row-2">
    <input id="rating-stars" class="rating" data-size="xs" data-show-caption="false" data-show-clear="false" data-readonly="true" value="<%= affiliate.avg_review %>">

    </input>
    <div id="review-count">
      <span><%= affiliate.reviews.count %> Reviews</span>
    </div>
  </div>

  <div id="info-row-3">
    <span id="address"><%= affiliate.address %></span>
  </div>

  <div id="info-row-4">
    <span id="characteristics"><%= affiliate.characteristics %></span>
  </div>

  <div id="info-row-5">
    <div id="distance-to">
      <span><%= affiliate.distance_from_search %> mi.</span>
    </div>
  </div>
</div>
