<!--<p id="notice"><%#= notice %></p>-->
<% content_for :index do %>
  <%= stylesheet_link_tag 'search_results', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'star-rating.min', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'search_results', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'star-rating.min', 'data-turbolinks-track' => true %>
<% end %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <%= form_tag(affiliates_path, method: 'get') do %>
        <%= hidden_field_tag :lat, value: '' %>
        <%= hidden_field_tag :lon, value: '' %>
        <div class="input-group">
          <%= text_field_tag(:search_location, nil, placeholder: 'Type an Address, City, or State',
            class: 'form-control') %>
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit" name="commit"><span class="glyphicon glyphicon-search"></span></button>
          </span>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12">
      <% unless @affiliates.nil? %>
        <table id="results-table" class="table table-striped">
          <% @affiliates.each_with_index do |affiliate, index| %>
            <tr id="search-result-<%= index %>" class="clickable-row" data-href="affiliates/<%= affiliate.url_value %>">
              <td>
                <%= render partial: "search_result", locals: { index: index, affiliate: affiliate } %>
              </td>
            </tr>
          <% end %>
        </table>
      <% end %>
    </div>
  </div>
</div>



<%#= link_to 'New Affiliate', new_affiliate_path %>
