<!-- <p id="notice"><%#= notice %></p> -->

<% content_for :show do %>
  <%= stylesheet_link_tag 'slick.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'slick-theme.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'star-rating.min', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'slick.min.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'affiliates.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'star-rating.min', 'data-turbolinks-track' => true %>
<% end %>

<div class="container-fluid">
  <div id="gym-info" class="row">
    <div class="col-sm-12 col-md-12">
      <input id="rating-stars" class="rating" data-size="xs" data-show-caption="false" data-show-clear="false"
             data-readonly="true" value="<%= @affiliate.avg_review %>">

      <div id="review-count">
        <span><%= @affiliate.reviews.count %> Reviews</span>
      </div>
    </div>
  </div>


  <div id="gym-actions" class="row">
    <div class="col-sm-12 col-md-12">
    </div>
  </div>


  <div class="row">
    <div class="col-sm-12 col-md-12">
      <span><%= @affiliate.address %></span>
    </div>
  </div>


  <div id="carousel-row" class="row">
    <div class="col-sm-12 col-md-12">
      <div id="image-carousel" class="">
        <% unless @affiliate.image_paths.nil? %>
          <% @affiliate.image_paths.each_with_index do |path, index| %>
          <div class="">
            <div class="image">
              <img src="<%= path %>" alt="">
            </div>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>


  <input id="show-qr-btn" type="button" class="btn-lg btn btn-primary" value="Show QR Code"/>



</div>


<%#= link_to 'Edit', edit_affiliate_path(@affiliate) %>
<%#= link_to 'Back', affiliates_path %>



<!--<tr>-->
<!--<td></td>-->
<!--<td><%#= affiliate.distance_to([39.61671339, -104.8946896]) %></td>-->
<!--<td><%#= link_to 'Show', affiliate %></td>-->
<!--<td><%#= link_to 'Edit', edit_affiliate_path(affiliate) %></td>-->
<!--<td><%#= link_to 'Destroy', affiliate, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
<!--</tr>-->
