// Place all the styles related to the Affiliates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#image-carousel {
  margin: 18px auto 0 auto;
   width: 90%;
  // height: 100px;
}

#image-carousel img {
  height: 140px;
  margin: 0 auto;
}

#image-carousel .slick-dots {
  position: initial;
  margin-top: 8px;
}

#image-carousel .slick-prev {
  // left: -10px
}

#image-carousel .slick-next {
  // right: -10px
}

#carousel-row {

  background-color: #d4d4d4;
}

.image {
  padding: 10px;
  background-color: #fff;
}

#gym-info .rating-xs {
  //font-size: 1.5em;
  //float: left;
  //line-height: 30px;
  //margin-top: -1px;
}

#review-count > span {
  font-size: 1.0rem;
  //margin-left: 6px;
}
