/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require scaffolds
 */
@import 'bootstrap-sprockets';
@import 'bootstrap';

html {
  font-size: 62.5%;
}

body {
  padding-top: 60px;
  padding-bottom: 60px;
  // font-size: 20px;
}

hr {
  margin-top: 0px;
  margin-bottom: 14px;
}


/*============== Nav ====================*/

#top-nav-btn {
  margin-top: 8px;
  margin-left: 0px;
}

#nav-bar #page-label {
  margin-top: 16px;
  font-size: 1.3em;
}

#nav-bar span {
  padding-right: 6px;
}
