/*=============== Search Results =================*/
#results-table {
  margin-top: 8px;
}

.search-result {
  border: 1px solid blue;
  height: 60px;
}

tr[id^="search-result"] > td {

}

$photo-width: 0px;
$photo-height: $photo-width;
$photo-display: none;

#photo img {
  border: 1px solid red;
  width: $photo-width;
  height: $photo-height;
  float: left;
  display: $photo-display;
}

#info {
  margin-left: $photo-width + 10;
}

$badge-width: 62px;

#featured-badge {
  float: left;
  margin-right: 6px;
  height: 18px;
}

#name {
  padding-top: 1px;
  font-size: 14px;
  font-weight: bold;
}

#address {
  font-size: 11px;
}

div[id^="info-row"] {
  margin-top: 4px;
  margin-bottom: 2px;
}

#distance-to {
  float: right;
}

#distance-to > span {
  font-size: 8px;
}

.highlighted-row {
  background-color: #C5C5C5;
}

#info-row-2 .rating-xs {
  font-size: 1.1em;
  float: left;
  margin-top: -1px;
}

#review-count > span {
  font-size: .8em;
  margin-left: 6px;
}

#characteristics {
  float: left;
  font-size: .75em;
  color: grey;
}
