<p id="notice"><%= notice %></p>

<h1> <%= @checkin.when %> </h1>

<div>
  <h3> <%= @checkin.affiliate.name %> </h3>
  <h3> <%= @checkin.user.email %> </h3>
</div>

<%= link_to 'Back', checkins_path %>
