<!DOCTYPE html>
<html lang="en">
<head>
  <title>RxNation Search</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'affiliates', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= yield(:index) if content_for? :index %>
  <%= yield(:show) if content_for? :show %>

  <%= csrf_meta_tags %>

</head>

<body>

<nav id="nav-bar" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!--<button id="top-nav-btn" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left"></span><%#= @back_button_text %></button>-->
    <label id="page-label" class="pull-right"><%= @page_text %></label>
  </div>
</nav>

<%= yield %>

<nav id="nav-bar" class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <!--<button id="bottom-nav-home-btn" class="btn btn-primary"><span class="glyphicon glyphicon-home"></span><%#= @back_button_text %></button>-->
    <!--<label id="page-label" class="pull-right"><%#= @page_text %></label>-->
  </div>
</nav>
</body>
</html>
