<!DOCTYPE html>
<html lang="en">
  <head>
    <title>RxNationCore</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>



    <!--<p class="notice"><%#= notice %></p>-->
    <!--<p class="alert"><%#= alert %></p>-->


    <!--<div>-->
      <!--<%# if user_signed_in? %>-->
          <!--<h1>Welcome <%#= current_user.email %> </h1>-->
          <!--<%#= link_to 'Logout', destroy_user_session_path, :method => :delete %>-->
      <!--<%# else %>-->
          <!--<%#= link_to 'Login', new_user_session_path %> or <%#= link_to 'Register', new_user_registration_path %>-->
      <!--<%# end %>-->
    <!--</div>-->

    <%= yield %>

  </body>
</html>
